<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<h3>Create Customer</h3>
<p><a th:href="@{/customers}">Back to list customer</a></p>
<form th:action="@{/save}" th:object="${customer}" method="post">
<table>
    <tr>
        <td>First Name</td>
        <td><input type="text" th:field="*{firstName}"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" th:field="*{lastName}"></td>
    </tr>
    <tr>
        <td>Province</td>
        <td>
            <select th:field="*{province}">
            <option th:each="province:${provinces}" th:text="${province.name}" th:value="${province.id}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Save"></td>
    </tr>
</table>
</form>
</body>
</html>